# dependencies
node_modules

# builds
.next
out
build
dist
*.tsbuildinfo

# Expo
.expo
.expo-shared
web-build

# env
.env
.env.*
!.env.example

# Supabase Local (generated)
supabase/.temp
supabase/.branches
.supabase

# logs
*.log

# misc
.DS_Store
